@font-face {
    font-family: lakeshore;
    src: url("fonts/LAKESHOR-webfont.svg");
    src: url("fonts/LAKESHOR-webfont.woff");
}
@font-face{
    font-family: airstream;
    src: url("fonts/Airstream-webfont.svg");
    src: url("fonts/Airstream-webfont.woff");
}
html
 {
    height: 100%;
}
:root{
    --thambnail-img-height: 17vw;
    --thambnail-img-width: 22vw;
    --thambnail-title-height: calc(var(--thambnail-img-height)*0.33);
}

body {
    display: flex;
    flex-direction: column;
    /*background-color: rgb(240, 202, 200);*/
    background: linear-gradient(to bottom right, rgb(246, 196, 217), rgb(248, 172, 223), rgb(247, 121, 228));
    height: 98vh;
    margin: 4px;
}

.logo {
    font-size: 1em;
    text-align: center;
    font-family: lakeshore;
    background-color: rgb(244, 147, 164);
    margin-bottom: 5px;
    letter-spacing: 0.5vw;
}

.image-logo {
    width: 4vh;
    height: 3vh;
    border-radius: 50%;
}

.main-class {
    padding-top: 2vh;
    height: 80vh;
}
.hidden.main-class {
    --thambnail-img-height: 28vw;
    --thambnail-img-width: 35vw;
    --thambnail-title-height: calc(var(--thambnail-img-height)*0.25);
}

.details-header {
    font-size: 2em;
}

.detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5vh;
}
.hidden .detail-container {
    display: none;
}
.frame-container {
position:relative;
}
.hide-button {
    position:absolute;
    top: 2vh;
    right: 3vw;
    border: none;
}
.image-title {
    width: 80vw;
    height: 70vw;
    border-radius: 30%;
}

.details-title {
    display: block;
   /* padding-top: 1.5vh;*/
    font-size: 1.5em;
    /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;*/
    font-family: airstream;
    font-style: italic;
    background:rgb(249, 125, 212);
    position:absolute;
    left: 22%;
    bottom: 5vw;
    border-radius: 20%;
}

.thambnail-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 28vh;
    overflow-y: auto;
    justify-content: space-around;
    padding-left: 0;
}
.hidden .thambnail-list{
    max-height: 80vh;
}


.thambnail-item {
    min-width: --thambnail-img-width;
    max-height: calc(var(--thambnail-img-height) + var(--thambnail-title-height));
    border: solid 2px black;
    border-radius: 25%;
    overflow: hidden;
    margin-top: 2vh;
}

.thambnails-ancor {
    text-decoration: none;
    display: flex;
    flex-direction: column;

}
.thambnail-image {
    width:var(--thambnail-img-width);
    height: var(--thambnail-img-height);
}
.thambnail-item:hover{
    transform: scale(1.1);
    margin-left: 0.6vw;
    margin-right: 0.6vw;
   }

.thambnails-title {
    display: block;
    text-align: center;
    height: var(--thambnail-title-height);
    background-color: rgb(252, 152, 155);
}
.hidden .thambnails-title {
    font-size: 1.2em;
}
@media (min-width: 560px){
    :root{
       --thambnail-img-height: 7.2vw;
       --thambnail-img-width: 10vw;
       --thambnail-title-height: calc(var(--thambnail-img-height)*0.33); 
    }
    .image-logo {
        width: 7vh;
        height: 6vh;
    }
   .main-class{
    display: flex;
    flex-direction: row;
    max-height: 90vh;
    justify-content:space-around;
   }
   .hidden.main-class {
    --thambnail-img-height: 10vw;
    --thambnail-img-width: 13vw;
    --thambnail-title-height: calc(var(--thambnail-img-height)*0.33);;
}
   .image-title{
    height: 30vw;
    width: 40vw;
   }
   .thambnail-list {
    order: -1;
    max-height: 90vh;
    justify-content:flex-start;
    max-width: calc(var(--thambnail-img-width)*1.4);
    margin: 0;
   }
   .hidden .thambnail-list {
    min-width: 80vw;
    margin-top: 5vh;
    justify-content: space-around;
   }
   .thambnail-list::-webkit-scrollbar {
    width: 1.2vw;
   }
   .thambnail-list::-webkit-scrollbar-track {
    background-color: rgb(249, 218, 241);
    border-radius: 20%;
   }
   .thambnail-list::-webkit-scrollbar-thumb {
    border-radius: 25%;
    background-image: linear-gradient(rgb(193, 193, 241),rgb(244, 159, 159));
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
   }
   .thambnail-item {
    max-width: var(--thambnail-img-width);
    max-height: calc(var(--thambnail-img-height) + var(--thambnail-title-height));
   }
   .thambnail-image{
    max-height:var(--thambnail-img-height);
    width:var(--thambnail-img-width);
   }
   .detail-container{
    padding-top: 8vh;
   }
   .details-title {
    font-size: 1.3em;
    left: 27%;
    bottom: 3vw;
   }
   
   .thambnails-title{
        font-size: 13px;
    }
    .hidden .thambnails-title {
        font-size:1em;
    }
}
    
@media (min-width: 900px){
    :root{
        --thambnail-img-height: 7vw;
        --thambnail-img-width: 9vw;
        --thambnail-title-height: calc(var(--thambnail-img-height)*0.25);
     }
     .hidden.main-class {
        --thambnail-img-height: 9vw;
        --thambnail-img-width: 12vw;
    }
    .hide-button {
        font-size: 1.3em;
    }
    .image-title{
        height: 30vw;
        width: 40vw;
       } 
    .logo {
        font-size: 1.4em;
    }
    .details-title {
       /* padding-top: 4vh;*/
        font-size: 2.5em;
        left:25%;
        bottom: 2.1vw;
    }
    .image-logo {
        width: 6vh;
        height: 5vh;
    }
    .thambnail-list {
        max-height: 80vh;
        max-width: calc(var(--thambnail-img-width)*1.4);
    }
    .thambnails-title{
        font-size: 17px;         
    }
    .hidden .thambnails-title {
        font-size: 1.2em;
    }
    
}