body{ display:flex; flex-direction: column;
    background-color:rgb(240, 202, 200); height: 80vh;
}
.logo{ font-size: 1em; 
 text-align: center; background-color: rgb(251, 153, 146); margin-bottom: 5px;
}
.image-logo{
width: 4vh; height: 3vh; border-radius: 50%;
}
.main-class{
padding-top: 2vh; 
}
.details-header{
    font-size: 2em;
}
.detail-container{
display: flex; flex-direction:column;
align-items: center; padding-bottom: 5vh;
}
.image-title{
width: 90vw; height: 60 vh; border-radius: 30%; 
}
.details-title{
display: block; padding-top: 1.5vh;font-size: 1.5em;
}
.thambnail-list{
    list-style: none; 
    display: flex; flex-direction: row;
    flex-wrap: wrap; max-height: 25vh; overflow-y: auto;
    justify-content: space-around; padding-left: 0;
}
.thambnail-item{
    width: 25vw; height: 10vh; 
    margin-bottom: 2.5 vh;
    border: solid 2px black;
    border-radius: 25%; overflow: hidden; margin-top: 2vh;
}
.thambnails-ancor{
text-decoration: none; display:flex; flex-direction: column; 
}
.thambnail-image{
width: 25vw; height: 7.5vh; 
}
.thambnails-title{
display: block; text-align: center; height: 2.5vh;
background-color: rgb(250, 168, 168); 
}
