body {
display: flex;
flex-direction: column;
align-items: center;
background: rgb(207, 200, 248);
}
.header {
    font-size: 4em;
}
.welcom {
    font-size: 3em;
}
.introduction {
    font-size: 1.5em;
}
.word-guess {
    display: flex;
    flex-direction: row;
}
.letters-guess {
    font-size: 4em;
    display: flex;
    text-align: center;
}
.letter-elem {
    width: 7vw;
    margin: 1vw;
    border-style: solid;
}
.question {
    font-size: 2.5em;
    text-align: center;
}
.inform-message{
    font-size: 1.5em;
}
#input-letter {
    font-size: 1.5em;
    width: 8vw;
    height: 3vw;
    text-align: center;
}
input::placeholder{
    font-size: 0.5em;
}
.button-play, .button-end {
    width: 9vw;
    height: 4vw;
    font-size: 1.5em;
    background: rgb(245, 233, 244);
    border-radius: 25%;
    margin-top: 2vw;
}
